body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .header-nav {
    font-family: 'Dancing Script', cursive;
  }

  .active {
    color: #ec4899;
    font-weight: bold;
  }